@keyframes rotateChakkar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

.rotateChakkar {
  animation: rotateChakkar 100s linear infinite;
  filter: brightness(0) invert(1);
  
}

@keyframes rotateChakkar1 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotateChakkar1 {
  animation: rotateChakkar1 100s linear infinite;
  filter: brightness(0) invert(1);
  
}
